@import url('https://fonts.googleapis.com/css2?family=Anek+Odia&family=Poppins:wght@800&display=swap');
*{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
}

.slide{
    height: 100%;
    width: 380px;
    position: absolute;
    background-color: #fff;
    transition: 0.5s ease;
    transform: translateX(-400px);
}

h1{
    color: #E0B0A6;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    padding: 18px 0;
    padding-right: 20px;
    pointer-events: none;
}

.slide ul li{
    list-style: none;
}

.slide ul li a{
    color: #E0B0A6;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.slide ul li:hover a{
    color: grey;
}

.slide ul li a i{
    width: 40px;
    text-align: center;
}

input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 23px;
    left: 40px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #E0B0A6;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

nav{
    background: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

label.logo a{
    color:#E0B0A6;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    text-decoration: none;
}

nav .nav ul{
    float: right;
    margin-right: 20px;
}

nav .nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav .nav ul li a{
    color: #E0B0A6;
    font-size: 16px;
    border-radius: 3px;
    padding: 10px 13px;
    text-decoration: none;
}

.nav a:hover{
    color: gray;
    transition: 0.5s;
}